In [2]:
import pandas as work

In [3]:
data=work.read_csv("Supermarket_sales.csv")

In [4]:
data

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [10]:
mQ=uprice=data.loc[0:1000,"Unitprice"]

In [11]:
uprice

0      74.69
1      15.28
2      46.33
3      58.22
4      86.31
       ...
995    40.35
996    97.38
997    31.84
998    65.82
999    88.34
Name: Unitprice, Length: 1000, dtype: float64

In [12]:
max(mQ)

99.96

In [13]:
min(mQ)

10.08

In [14]:
sum(mQ)/len(mQ)

55.67212999999998

In [17]:
gh=data.loc[0:1000,"Quantity"]

In [18]:
gh

0       7
1       5
2       7
3       8
4       7
       ..
995     1
996    10
997     1
998     1
999     7
Name: Quantity, Length: 1000, dtype: int64

In [19]:
max(gh)

10

In [20]:
min(gh)

1

In [21]:
sum(gh)/len(gh)

5.51

In [26]:
pl=data.loc[0:1000,"Productline"]

In [27]:
pl

0           Health and beauty
1      Electronic accessories
2          Home and lifestyle
3           Health and beauty
4           Sports and travel
                ...
995         Health and beauty
996        Home and lifestyle
997        Food and beverages
998        Home and lifestyle
999       Fashion accessories
Name: Productline, Length: 1000, dtype: object

In [40]:
new_data=[]
for x in data.index:
    if data.loc[x,"Productline"]=="Health and beauty" :
        new_data.append(data.loc[x,"Quantity"])
max(new_data)

10

In [41]:
new_data

[7,
 8,
 2,
 10,
 7,
 3,
 9,
 2,
 8,
 2,
 9,
 8,
 4,
 10,
 2,
 1,
 5,
 6,
 6,
 9,
 1,
 10,
 7,
 3,
 6,
 10,
 10,
 6,
 4,
 8,
 9,
 8,
 5,
 3,
 8,
 2,
 4,
 10,
 9,
 9,
 9,
 10,
 5,
 2,
 2,
 6,
 6,
 4,
 5,
 10,
 1,
 9,
 7,
 4,
 1,
 6,
 4,
 7,
 7,
 10,
 10,
 1,
 5,
 6,
 10,
 5,
 1,
 1,
 2,
 7,
 1,
 1,
 1,
 7,
 8,
 3,
 8,
 5,
 5,
 2,
 6,
 1,
 9,
 4,
 2,
 4,
 4,
 5,
 6,
 3,
 10,
 10,
 7,
 6,
 6,
 4,
 6,
 3,
 8,
 10,
 10,
 9,
 7,
 9,
 5,
 8,
 3,
 10,
 7,
 5,
 4,
 7,
 7,
 8,
 5,
 5,
 3,
 4,
 1,
 1,
 8,
 4,
 3,
 9,
 4,
 1,
 7,
 5,
 6,
 3,
 2,
 5,
 8,
 7,
 5,
 2,
 10,
 5,
 9,
 7,
 7,
 3,
 5,
 7,
 3,
 3,
 4,
 7,
 2,
 8,
 8,
 1]

In [43]:
data.Gender

0      Female
1      Female
2        Male
3        Male
4        Male
        ...
995      Male
996    Female
997      Male
998      Male
999    Female
Name: Gender, Length: 1000, dtype: object

In [46]:
new_data=[]
for x in data.index:
    if data.loc[x,"City"]=="Yangon":
        new_data.append(data.loc[x,"Quantity"])
sum(new_data)

1859

In [48]:
new_data=[]
for x in data.index:
    if data.loc[x,"City"]=="Mandalay":
        new_data.append(data.loc[x,"Quantity"])
sum(new_data)

1820