In [1]:
x=int(input("ENTER THE STANDARD WORKING (in hour)="))
y=int(input("ENTER THE time taken to complete the work (in hour)="))
z=int(input("ENTER THE rate="))
earnings=(y*z)+(0.50*(x-y))*z
print (earnings)

ENTER THE STANDARD WORKING (in hour)= 15
ENTER THE time taken to complete the work (in hour)= 12
ENTER THE rate= 2622

35397.0

In [2]:
import pandas as exl

In [7]:
df=exl.read_excel("Book123.xlsx")

In [4]:
df

    name   x   y    z
0  albin  45  67  600

In [5]:
x=df.loc[0,"x"]
y=df.loc[0,"y"]
z=df.loc[0,"z"]
earnings=(y*z)+(0.50*(x-y))*z
print (earnings)

33600.0

In [8]:
df

      name   x   y           z
0    albin  45  67  600.000000
1   dhanya  25  35  500.000000
2    aswin  23  45  920.000000
3  dhanya2   9  27  993.333333

In [14]:
for q in df.index:
    x=df.loc[q,"x"]
    y=df.loc[q,"y"]
    z=df.loc[q,"z"]
    earnings=(y*z)+(0.50*(x-y))*z
    print(df.loc[q,"name"])
    print (earnings)

albin
33600.0
dhanya
15000.0
aswin
31280.0
dhanya2
17879.999999999996